@charset "utf-8";
@import url(reset.css);
@mixin pos($pos:relative){
	position:$pos;
}
@mixin box($v:row){
	display:-webkit-flex;
	-webkit-flex-direction:$v;
}
a{
	text-decoration:none;
	color:#3e3e3e;
}
html,body,.wrap{
	width:100%;
	height:100%;
}
.wrap{
	@include pos;
	@include box(column);
	overflow:hidden;
	background:#f4f4f4;
}
.header{
	width:100%;
	height:.88rem;
	border-bottom:.01rem solid #ababab;
	line-height:.88rem;
	@include pos;
	a{
		@include pos(absolute);
		left:.2rem;
		top:-.2rem;
		width:.16rem;
		height:.28rem;
		img{
			width:100%;
			height:100%;
		}
	}
	h1{
		width:100%;
		text-align:center;
		font-size:.3rem;
	}
}
.main{
	width:100%;
	-webkit-flex:1;
	font-size:.3rem;
	@include pos;
	h3{
		width:100%;
		text-align:center;
		padding:.37rem 0;
		img{
			width:1.44rem;
			height:1.44rem;
		}
	}
	p{
		width:100%;
		line-height:.45rem;
		text-align:center;
	}
	ul{
		margin-top:.8rem;
		border-top:.01rem solid #c8c7cc;
		background:#fff;
		li{
			line-height:1rem;
			border-bottom:.01rem solid #c8c7cc;
			padding-left:.9rem;
			@include pos;
			span{
				@include pos(absolute);
				right:.15rem;
				top:0;
				font-size:.25rem;
				img{
					width:.08rem;
					height:.16rem;
					margin-left:.15rem;
				}
			}
			&:nth-of-type(1){
				background:url(../img/about_icon_weibo.png) no-repeat .35rem center;
				background-size:.4rem .4rem;
			}
			&:nth-of-type(2){
				background:url(../img/about_icon_weixin.png) no-repeat .35rem center;
				background-size:.4rem .4rem;
			}
			&:nth-of-type(3){
				background:url(../img/about_icon_tel.png) no-repeat .35rem center;
				background-size:.4rem .4rem;
			}
		}
	}
}
.footer{
	width:100%;
	text-align:center;
	font-size:.23rem;
	line-height:.5rem;
}
.mark{
	width:100%;
	height:100%;
	@include pos(absolute);
	left:0;
	bottom:-100%;
	background:rgba(0,0,0,.5);
	z-index:1;
	.tan{
		width:5.5rem;
		height:2rem;
		@include pos(absolute);
		left:50%;
		top:50%;
		background:#f3f3f3;
		margin:-1rem 0 0 -2.7rem;
		border-radius:.2rem;
		h2{
			font-size:.3rem;
			font-weight:bold;
			text-align:center;
			line-height:1.18rem;
			border-bottom:.01rem solid #c2c2ca;
		}
		p{
			width:100%;
			font-size:.3rem;
			color:#007aff;
			span{
				width:50%;
				display:inline-block;
				line-height:.8rem;
				text-align:center;
				&:nth-of-type(1){
					border-right:.01rem solid #c2c2ca;
				}
			}
		}
	}
}