@charset "UTF-8";
@import url("reset.css");
html, body, .container {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  font-size: 14px;
  font-family: "微软雅黑"; }

.container {
  display: -webkit-flex;
  -webkit-flex-direction: column; }

.header {
  width: 100%;
  height: 0.88rem;
  background: #f7f7f7;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000; }
  .header a {
    width: 0.36rem;
    height: 0.36rem;
    position: absolute;
    left: 0.4rem;
    top: 50%;
    margin-top: -0.18rem;
    background: url(../img/title_icon_home_brand.png) no-repeat;
    background-size: 100% 100%; }
  .header input {
    width: 84%;
    height: 0.59rem;
    border-radius: 5px;
    border: none;
    position: absolute;
    right: 0.16rem;
    top: 50%;
    margin-top: -0.28rem;
    background: #f2f2f2 url(../img/home_title_icon_search.png) no-repeat 3% center;
    background-size: 5% 50%;
    color: #333;
    padding-left: 9%; }

.main {
  width: 100%;
  -webkit-flex-grow: 1;
  overflow: hidden;
  margin: 0.88rem 0 0.99rem 0; }

.banner {
  width: 100%;
  height: 4rem; }
  .banner img {
    width: 100%;
    height: 100%; }

.nav {
  width: 100%;
  height: 1.81rem;
  display: -webkit-flex; }
  .nav a {
    width: 25%;
    diplay: block; }
  .nav dl {
    width: 100%;
    height: 100%;
    padding-top: .47rem; }
  .nav dt {
    margin: 0 auto;
    width: .5rem;
    height: .5rem; }
    .nav dt img {
      width: 100%;
      height: 100%; }
  .nav dd {
    padding-top: .2rem;
    font-size: .2rem;
    color: #535353;
    text-align: center; }

.fenge {
  width: 100%;
  height: .2rem;
  background: #f5f5f5; }

.tuijian {
  width: 100%;
  height: 3.79rem; }
  .tuijian h2 {
    width: 100%;
    height: .6rem;
    line-height: .6rem;
    font-size: .2rem;
    color: #5f5f5f;
    background: url(../img/huodong_03.jpg) no-repeat 3% center;
    background-size: 4% 50%;
    padding-left: 8%; }
  .tuijian .zwm {
    width: 100%;
    height: 3.11rem;
    display: -webkit-flex;
    position: relative; }
  .tuijian .left {
    width: .97rem;
    height: 100%;
    background: #fff url(../img/home_recommend_arrow_left.png) no-repeat center center;
    background-size: 20% 10%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100; }
  .tuijian .left2 {
    width: .97rem;
    height: 100%;
    background: #fff url(../img/home_recommend_arrow_right.png) no-repeat center center;
    background-size: 20% 10%;
    position: absolute;
    right: 0;
    z-index: 100;
    top: 0; }
  .tuijian .center {
    height: 100%;
    width: 100%; }
  .tuijian .baozhe .wai {
    display: -webkit-flex;
    min-width: 100%;
    min-height: 100%;
    padding: 0 .97rem; }
  .tuijian .baozhe a {
    display: block;
    min-width: 30%;
    height: 100%;
    margin-left: 3%; }
  .tuijian .baozhe dl {
    width: 100%;
    height: 100%; }
  .tuijian .baozhe dt {
    width: 1.42rem;
    height: 1.88rem; }
    .tuijian .baozhe dt img {
      width: 100%;
      height: 100%; }
  .tuijian .baozhe dd {
    font-size: .2rem;
    color: #262626;
    text-align: center; }

.xianshi {
  width: 100%;
  height: 3.7rem; }
  .xianshi h2 {
    width: 100%;
    height: .6rem;
    line-height: .6rem;
    font-size: .2rem;
    color: #5f5f5f;
    background: url(../img/huodong_03.jpg) no-repeat 3% center;
    background-size: 4% 50%;
    padding-left: 8%; }
  .xianshi .swiper3 {
    width: 100%;
    height: 2.79rem; }
  .xianshi .ilist {
    width: 5rem;
    height: 2.79rem; }
    .xianshi .ilist img {
      width: 100%;
      height: 100%; }
    .xianshi .ilist span {
      width: 1.55rem;
      height: .58rem;
      position: absolute;
      left: 50%;
      bottom: 0;
      margin-left: -.77rem;
      background: #f5f5f5;
      border-radius: 20%;
      font-size: .2rem;
      color: #575757;
      text-align: center;
      line-height: .58rem;
      z-index: 1000; }

.iPhone {
  width: 100%;
  height: 7rem; }
  .iPhone .iphone_big_img {
    width: 100%;
    height: 3.75rem; }
    .iPhone .iphone_big_img img {
      width: 100%;
      height: 100%; }

.iphone_list {
  padding-top: .42rem;
  width: 100%;
  height: 3.17rem;
  overflow: hidden; }
  .iphone_list div {
    width: 100%;
    height: 100%;
    display: -webkit-flex; }
  .iphone_list dl {
    width: 25%;
    height: 2.3rem;
    margin-right: 5%; }
  .iphone_list dt {
    width: 1.5rem;
    height: 1.11rem; }
    .iphone_list dt img {
      width: 100%;
      height: 100%; }
  .iphone_list dd {
    padding-top: .3rem;
    text-align: center;
    font-size: .2rem;
    color: #262626; }

[ng-cloak] {
  display: none; }

.lianxi {
  width: 100%;
  height: 4.02rem;
  position: relative; }
  .lianxi img {
    width: 100%;
    height: 100%; }

.lxding {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4.02rem;
  display: -webkit-flex; }
  .lxding div {
    width: 50%;
    height: 100%;
    padding-top: 1.37rem; }
    .lxding div p {
      width: .98rem;
      height: .98rem;
      margin: 0 auto; }
      .lxding div p img {
        width: 100%;
        height: 100%; }
    .lxding div h3 {
      font-size: .25rem;
      color: #fff;
      text-align: center;
      padding-top: .2rem;
      font-weight: 100; }

.mark {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2000; }

.dialog {
  width: 200px;
  height: 90px;
  color: #000;
  position: absolute;
  z-index: 20001;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 2px #fff; }

.dialog h3 {
  background: #fff;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #666; }

.dialog p {
  background: #fff;
  height: 40px;
  display: -webkit-flex;
  border-radius: 0 0 10px 10px; }

.dialog p span {
  -webkit-flex-grow: 1;
  text-align: center;
  line-height: 40px;
  color: blue;
  cursor: pointer; }
  .dialog p span:nth-of-type(2) {
    border-left: 1px solid #666; }

.footer {
  width: 100%;
  height: 0.99rem;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  background: #e5e4e4;
  display: -webkit-flex;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000; }
  .footer a {
    width: 25%;
    height: 100%;
    display: block;
    text-align: center;
    padding-top: .1rem; }
    .footer a:nth-of-type(1) dd {
      color: #bb2212; }
  .footer dl {
    width: 100%;
    height: 100%; }
  .footer dt {
    width: .36rem;
    height: .36rem;
    margin: 0 auto; }
    .footer dt img {
      width: 100%;
      height: 100%; }
  .footer dd {
    padding-top: .08rem;
    text-align: center;
    font-size: .18rem;
    color: #929292; }

/*# sourceMappingURL=chome.css.map */
