@charset "utf-8";
@import url("reset.css");
html,body,.box{
	width:100%;
	height:100%;
	overflow:hidden;
}
.last{
	position:relative;
	button{
		position:absolute;
		border:none;
		width:1.98rem;
		height:0.78rem;
		border:1px solid #000;
		text-align:center;
		line-height:0.78rem;
		font-size:0.32rem;
		left:50%;
		margin-left:-0.99rem;
		bottom:2.14rem;
		background:rgba(0,0,0,0);

	}
}