@charset "UTF-8";
@import url('reset.css');
%full{
	width:100%;
	height:100%;
	overflow:hidden;
	background:#f2f2f2;
}
html,body,.container{
	@extend %full;
}
a{
	color:#000;
}
@mixin pos($p:absolute){
	position:$p;
}

body{
	
	font-family:"微软雅黑";
}
.container{
	display:-webkit-flex;
	-webkit-flex-direction:column;
}



.header{
	width:100%;
	height:3.2rem;
	background:url(../img/IMG_3585_01.png) no-repeat;
	background-size:cover;
	@include pos(relative);
	h1{
		color:#fff;
		font-size:.35rem;
		@include pos;
		left:35%;
		top:30%;
	}
	p{
		color:#fff;
		opacity:0.8;
		font-size:.35rem;
		@include pos;
		left:30%;
		top:50%;
	}
	a{
		opacity:0;
		&:nth-of-type(1){
			width:.66rem;
			height:.66rem;
			background:url(../img/ht_detail_back.png) no-repeat;
			background-size:cover;
			@include pos;
			left:.2rem;
			top:.3rem;
			font-size:0;
		}
		&:nth-of-type(2){
			width:.66rem;
			height:.66rem;
			background:url(../img/ht_detail_share.png) no-repeat;
			background-size:cover;
			@include pos;
			right:.2rem;
			top:.3rem;
			font-size:0;
		}
	}
}

.main{
	width:100%;
	-webkit-flex:1;
	overflow-y:scroll;

}

.blank{
	height:20px;
	background:#f2f2f2;
}
.main div{
	border-top:1px solid #c8c7cc;
	border-bottom:1px solid #c8c7cc;
	background:#fff;

	p{
		padding:.34rem 0;
		margin-left:.28rem;
		border-bottom:1px solid #c8c7cc;
		font-size:.28rem;
		@include pos(relative);
		span{
			width:.11rem;
			height:.2rem;
			background:url(../img/selfinfo_arrow.png) no-repeat;
			background-size:cover;
			@include pos;
			right:.2rem;
			top:50%;
			margin-top:-.1rem;
			font-size:0;

		}

	}
	.dv1{
		p{
			&:nth-of-type(1){
				background:url(../img/selfinfo_icon_buy_order.png) no-repeat left center;
				padding-left:30px;
				background-size:.4rem .36rem;
			}
			&:nth-of-type(2){
				border-bottom:none;
				background:url(../img/selfinfo_icon_ht.png) no-repeat left center;
				padding-left:30px;
				background-size:.4rem .36rem;
			}
		}
	}
}

.dv2{
		p{
			&:nth-of-type(1){
				background:url(../img/selfinfo_icon_recycle_order.png) no-repeat left center;
				padding-left:30px;
				background-size:.4rem .36rem;
			}
			&:nth-of-type(2){
				
				background:url(../img/selfinfo_icon_jimai.png) no-repeat left center;
				padding-left:30px;
				background-size:.4rem .36rem;
			}
			&:nth-of-type(3){
				border-bottom:none;
				background:url(../img/selfinfo_icon_feedback.png) no-repeat left center;
				padding-left:30px;
				background-size:.4rem .36rem;
			}
		}
	}
.dv3{
		p{
			&:nth-of-type(1){
				background:url(../img/selfinfo_icon_coupon.png) no-repeat left center;
				padding-left:30px;
				background-size:.4rem .36rem;
			}
			&:nth-of-type(2){
				
				background:url(../img/selfinfo_icon_balance.png) no-repeat left center;
				padding-left:30px;
				background-size:.4rem .36rem;
			}
			&:nth-of-type(3){
				
				background:url(../img/selfinfo_icon_address.png) no-repeat left center;
				padding-left:30px;
				background-size:.4rem .36rem;
			}
			&:nth-of-type(4){
				
				background:url(../img/selfinfo_icon_card.png) no-repeat left center;
				padding-left:30px;
				background-size:.4rem .36rem;
			}
			&:nth-of-type(5){
				border-bottom:none;
				background:url(../img/selfinfo_icon_card.png) no-repeat left center;
				padding-left:30px;
				background-size:.4rem .36rem;
			}
		}
	}
.dv4{
		p{
			&:nth-of-type(1){
				background:url(../img/selfinfo_icon_fav.png) no-repeat left center;
				padding-left:30px;
				background-size:.4rem .36rem;
			}
			&:nth-of-type(2){
				border-bottom:none;
				background:url(../img/selfinfo_icon_goodshistory.png) no-repeat left center;
				padding-left:30px;
				background-size:.4rem .36rem;
			}
		}
	}
.dv5{
		p{
			&:nth-of-type(1){
				background:url(../img/selfinfo_icon_public.png) no-repeat left center;
				padding-left:30px;
				background-size:.4rem .36rem;
			}
			&:nth-of-type(2){
				
				background:url(../img/selfinfo_icon_public.png) no-repeat left center;
				padding-left:30px;
				background-size:.4rem .36rem;
			}
			&:nth-of-type(3){
				border-bottom:none;
				background:url(../img/selfinfo_icon_about.png) no-repeat left center;
				padding-left:30px;
				background-size:.4rem .36rem;
			}
		}
	}



.footer{
	width:100%;
	height:.99rem;	
	display:-webkit-flex;
	border-top:.01rem solid #a9a9a9;	
	a{
		-webkit-flex-grow:1;
		text-align:center;
		font-size:.2rem;
		padding-top:.15rem;		
		img{
			width:.35rem;
			height:.35rem;
			margin-bottom:.02rem;
		}		
	}		
}


.del{
	 width: 93%;
    height: .9rem;
    background: #bb2212;
    color: #fff;
    text-align: center;
    line-height: .9rem;
    display: block;
    font-size: .34rem;
    margin: 20px auto;
    border-radius: 2px;
}
