@charset "utf-8";
@import url("reset.css");
%full{
	width:100%;
	height:100%;
	overflow:hidden;
}
a{
	text-decoration: none;
}
html{
	font-size:625%;
}
body{
	font-size:16px;
	font-family:"微软雅黑";
}
@mixin pos($p:relative){
	position:$p;
}
html,body,.container{
	@extend %full;
}
.container{
	display: -webkit-flex;
	-webkit-flex-direction:column;
}
.header{
	@include pos;
	width:100%;
	height:.88rem;
	background:#f9f9f9;
	z-index: 1000;
	border-bottom:1px solid #b2b2b2;
	a{
		@include pos(absolute);
		width:.26rem;
		height:.38rem;
		background: url(../img/home_recommend_arrow_left.png) no-repeat;
		background-size: cover;
		top:.2rem;
		left:.3rem;
	}
	h1{
		text-align: center;
		line-height: .88rem;
		font-size: .33rem;
	}
	span{
		@include pos(absolute);
		top:.2rem;
		right:.3rem;
		color:#bb2212;
		font-weight: bold;
	}
}
.main{
	-webkit-flex-grow:1;
	width:100%;
	height:auto;
	background: #f5f5f5;
}
.box{
	width:100%;
	height:2.62rem;
	border-bottom: 1px solid #ccc;
	background: #fff;
	h1{
		@include pos;
		padding-top: .3rem;
		padding-left: .8rem;
		span{
			@include pos(absolute);
			width:.36rem;
			height:.36rem;
			background:url(../img/cart_notify_icon.png) no-repeat;
			background-size: cover;
			left:.3rem;
		}
	} 
	p{
		padding-left:.3rem;
		padding-top: .2rem;
		line-height: 1.54em;
		color:#535353;
	}
}
.biao{
	background: #fff;
	width:100%;
	height:auto;
	p{
		width:100%;
		height:.84rem;
		border-bottom: 1px solid #ccc;
		input{
			width:100%;
			height:.8rem;
			padding-left: .3rem;
			font-size:.3rem;
			border:none;
		}
	}
	h2{
		padding-left: .3rem;
		padding-top: .3rem;
	}
	span{
		display: block;
		img{

			width:2.44rem;
			height:1.57rem;
			padding:.3rem .5rem;
		}
	}
}
