<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<!-- 禁止ios设备将数字作为拨号连接，邮箱自动发送，点击地图跳转 -->
		<meta name="format-detection" content="telephone=no,email=no，adress=no">
		<!-- 强制全屏显示 -->
		<meta name="full-screen" content="yes">
		<!-- 开启对webapp的支持 -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- web app 应用下状态条（屏幕顶部条）的颜色,默认值为 default（白色） -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<!-- 禁止浏览器从的缓存中访问页面内容 -->
		<meta http-equiv="Pragma" content="no-cache">
	<title>首页</title>
</head>
<link rel="stylesheet" type="text/css" href="../css/chome.css">
<link rel="stylesheet" type="text/css" href="../css/swiper-3.3.1.min.css">
<body>
<div class="container">
	<header class="header">
		<a href=""></a>
		<input type="text" value="戳我搜好货">
	</header>
	<main class="main" id="main">
	<div>
		<div class="wei">
			<div class="swiper-container banner">
				    <div class="swiper-wrapper banner_ul">
				        <div class="swiper-slide"><img src="../img/cbanner1_02.jpg"></div>
				        <div class="swiper-slide"><img src="../img/cbanner2.jpg"></div>
				        <div class="swiper-slide"><img src="../img/cbanner3.jpg"></div>
				        <div class="swiper-slide"><img src="../img/cbanner4.jpg"></div>
				    </div>
				    <div class="swiper-pagination"></div> 
			</div>
		</div>
		<nav class="nav">
			<a href="">
				<dl>
					<dt><img src="../img/cnav1_03.jpg"></dt>
					<dd>最近上新</dd>
				</dl>
			</a>
			<a href="">
				<dl>
					<dt><img src="../img/cnav1_05.jpg"></dt>
					<dd>官方寄卖</dd>
				</dl>
			</a>
			<a href="">
				<dl>
					<dt><img src="../img/cnav1_07.jpg"></dt>
					<dd>认证商家</dd>
				</dl>
			</a>
			<a href="">
				<dl>
					<dt><img src="../img/cnav1_09.jpg"></dt>
					<dd>正在打折</dd>
				</dl>
			</a>
		</nav>
		<div class="fenge"></div>
		<div class="tuijian">
			<h2>今日推荐</h2>
			<div class="zwm">
				<div class="left"></div>
				<div class="center">
					<div class="swiper-container">
						<div class="baozhe swiper-wrapper">
							<div class="swiper-slide wai">
								<a href="">
									<dl>
										<dt><img src="../img/bao1_03.jpg"></dt>
										<dd>
											<h3>Fendi | 芬迪</h3>
											<p>￥2599</p>
										</dd>
									</dl>
								</a>
								<a href="">
									<dl>
										<dt><img src="../img/bao2_03.jpg"></dt>
										<dd>
											<h3>Fendi | 芬迪</h3>
											<p>￥2599</p>
										</dd>
									</dl>
								</a>
								<a href="">
									<dl>
										<dt><img src="../img/kuqibao_03.jpg"></dt>
										<dd>
											<h3>Fendi | 芬迪</h3>
											<p>￥2599</p>
										</dd>
									</dl>
								</a>
							</div>
							<div class="swiper-slide wai">
								<a href="">
									<dl>
										<dt><img src="../img/bao1_03.jpg"></dt>
										<dd>
											<h3>Fendi | 芬迪</h3>
											<p>￥2599</p>
										</dd>
									</dl>
								</a>
								<a href="">
									<dl>
										<dt><img src="../img/bao2_03.jpg"></dt>
										<dd>
											<h3>Fendi | 芬迪</h3>
											<p>￥2599</p>
										</dd>
									</dl>
								</a>
								<a href="">
									<dl>
										<dt><img src="../img/kuqibao_03.jpg"></dt>
										<dd>
											<h3>Fendi | 芬迪</h3>
											<p>￥2599</p>
										</dd>
									</dl>
								</a>
							</div>
							<div class="swiper-slide wai">
								<a href="">
									<dl>
										<dt><img src="../img/bao1_03.jpg"></dt>
										<dd>
											<h3>Fendi | 芬迪</h3>
											<p>￥2599</p>
										</dd>
									</dl>
								</a>
								<a href="">
									<dl>
										<dt><img src="../img/bao2_03.jpg"></dt>
										<dd>
											<h3>Fendi | 芬迪</h3>
											<p>￥2599</p>
										</dd>
									</dl>
								</a>
								<a href="">
									<dl>
										<dt><img src="../img/kuqibao_03.jpg"></dt>
										<dd>
											<h3>Fendi | 芬迪</h3>
											<p>￥2599</p>
										</dd>
									</dl>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="left2"></div>
			</div>
		</div>
		<div class="fenge"></div>
		<div class="xianshi">
			<h2>限时活动</h2>
			<div class="swiper3">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide ilist"><img src="../img/swiper1.jpg"> <span>活动已结束</span></div>
						<div class="swiper-slide ilist"><img src="../img/home_icon_cate_coat.png"> <span>活动已结束</span></div>
						<div class="swiper-slide ilist"><img src="../img/home_icon_cate_pant.png"> <span>活动已结束</span></div>
						<div class="swiper-slide ilist"><img src="../img/home_icon_cate_skirt.png"> <span>活动已结束</span></div>
						<div class="swiper-slide ilist"><img src="../img/home_icon_cate_top.png"> <span>活动已结束</span></div>
						<div class="swiper-slide ilist"><img src="../img/home_icon_theme_recommend.png"> <span>活动已结束</span></div>
					</div>
				</div>
			</div>
		</div>
		<div class="fenge"></div>
		<div class="iPhone" ng-controller="guanfang"  ng-cloak="">
			<div class="iphone_big_img" data-lei="guanfang">
				<img src="{{ data.bigurl.url }}">
			</div>
			<div class="iphone_list swiper-container" id="iphone_list">
				<div class="swiper-wrapper">
					<dl class="swiper-slide" ng-repeat="item in data.list">
						<dt><img src="{{ item.url }}"></dt>
						<dd>
							<p>{{item.name}}</p>
							<p>{{item.price}}</p>
						</dd>
					</dl>
					<dl  class="swiper-slide geng" data-lei="guanfang">
						<dt><img src="../img/home_list_album_item_more.png"></dt>
					</dl>
				</div>
			</div>
		</div>
		<div class="fenge"></div>
		<div class="iPhone" ng-controller="baobao"  ng-cloak="">
			<div class="iphone_big_img" data-lei="baobao">
				<img src="{{ data.bigurl.url }}">
			</div>
			<div class="iphone_list swiper-container" id="iphone_list">
				<div class="swiper-wrapper">
					<dl class="swiper-slide" ng-repeat="item in data.list">
						<dt><img src="{{ item.url }}"></dt>
						<dd>
							<p>{{item.name}}</p>
							<p>{{item.price}}</p>
						</dd>
					</dl>
					<dl  class="swiper-slide geng" data-lei="baobao">
						<dt><img src="../img/home_list_album_item_more.png"></dt>
					</dl>
				</div>
			</div>
		</div>
		<div class="fenge"></div>
		<div class="iPhone" ng-controller="fushi"  ng-cloak="">
			<div class="iphone_big_img" data-lei="fushi">
				<img src="{{ data.bigurl.url }}">
			</div>
			<div class="iphone_list swiper-container" id="iphone_list">
				<div class="swiper-wrapper">
					<dl class="swiper-slide" ng-repeat="item in data.list">
						<dt><img src="{{ item.url }}"></dt>
						<dd>
							<p>{{item.name}}</p>
							<p>{{item.price}}</p>
						</dd>
					</dl>
					<dl  class="swiper-slide geng" data-lei="fushi">
						<dt><img src="../img/home_list_album_item_more.png"></dt>
					</dl>
				</div>
			</div>
		</div>
		<div class="fenge"></div>
		<div class="iPhone" ng-controller="xiezi"  ng-cloak="">
			<div class="iphone_big_img" data-lei="xiezi">
				<img src="{{ data.bigurl.url }}">
			</div>
			<div class="iphone_list swiper-container" id="iphone_list">
				<div class="swiper-wrapper">
					<dl class="swiper-slide" ng-repeat="item in data.list">
						<dt><img src="{{ item.url }}"></dt>
						<dd>
							<p>{{item.name}}</p>
							<p>{{item.price}}</p>
						</dd>
					</dl>
					<dl  class="swiper-slide geng" data-lei="xiezi">
						<dt><img src="../img/home_list_album_item_more.png"></dt>
					</dl>
				</div>
			</div>
		</div>
		<div class="fenge"></div>
		<div class="iPhone" ng-controller="shoushi"  ng-cloak="">
			<div class="iphone_big_img" data-lei="shoushi">
				<img src="{{ data.bigurl.url }}">
			</div>
			<div class="iphone_list swiper-container" id="iphone_list">
				<div class="swiper-wrapper">
					<dl class="swiper-slide" ng-repeat="item in data.list">
						<dt><img src="{{ item.url }}"></dt>
						<dd>
							<p>{{item.name}}</p>
							<p>{{item.price}}</p>
						</dd>
					</dl>
					<dl  class="swiper-slide geng" data-lei="shoushi">
						<dt><img src="../img/home_list_album_item_more.png"></dt>
					</dl>
				</div>
			</div>
		</div>
		<div class="fenge"></div>
		<div class="iPhone" ng-controller="peishi"  ng-cloak="">
			<div class="iphone_big_img" data-lei="peishi">
				<img src="{{ data.bigurl.url }}">
			</div>
			<div class="iphone_list swiper-container" id="iphone_list">
				<div class="swiper-wrapper">
					<dl class="swiper-slide" ng-repeat="item in data.list">
						<dt><img src="{{ item.url }}"></dt>
						<dd>
							<p>{{item.name}}</p>
							<p>{{item.price}}</p>
						</dd>
					</dl>
					<dl  class="swiper-slide geng" data-lei="peishi">
						<dt><img src="../img/home_list_album_item_more.png"></dt>
					</dl>
				</div>
			</div>
		</div>
		<div class="fenge"></div>
		<div class="iPhone" ng-controller="wanbiao"  ng-cloak="">
			<div class="iphone_big_img" data-lei="wanbiao">
				<img src="{{ data.bigurl.url }}">
			</div>
			<div class="iphone_list swiper-container" id="iphone_list">
				<div class="swiper-wrapper">
					<dl class="swiper-slide" ng-repeat="item in data.list">
						<dt><img src="{{ item.url }}"></dt>
						<dd>
							<p>{{item.name}}</p>
							<p>{{item.price}}</p>
						</dd>
					</dl>
					<dl  class="swiper-slide geng" data-lei="wanbiao">
						<dt><img src="../img/home_list_album_item_more.png"></dt>
					</dl>
				</div>
			</div>
		</div>
		<div class="fenge"></div>
		<div class="iPhone" ng-controller="pinguo"  ng-cloak="">
			<div class="iphone_big_img"  data-lei="pinguo">
				<img src="{{ data.bigurl.url }}">
			</div>
			<div class="iphone_list swiper-container" id="iphone_list">
				<div class="swiper-wrapper">
					<dl class="swiper-slide" ng-repeat="item in data.list">
						<dt><img src="{{ item.url }}"></dt>
						<dd>
							<p>{{item.name}}</p>
							<p>{{item.price}}</p>
						</dd>
					</dl>
					<dl  class="swiper-slide geng" data-lei="pinguo">
						<dt><img src="../img/home_list_album_item_more.png"></dt>
					</dl>
				</div>
			</div>
		</div>
		<div class="fenge"></div>
		<div class="iPhone" ng-controller="sijin"  ng-cloak="">
			<div class="iphone_big_img"  data-lei="sijin">
				<img src="{{ data.bigurl.url }}">
			</div>
			<div class="iphone_list swiper-container" id="iphone_list">
				<div class="swiper-wrapper">
					<dl class="swiper-slide" ng-repeat="item in data.list">
						<dt><img src="{{ item.url }}"></dt>
						<dd>
							<p>{{item.name}}</p>
							<p>{{item.price}}</p>
						</dd>
					</dl>
					<dl  class="swiper-slide geng" data-lei="sijin">
						<dt><img src="../img/home_list_album_item_more.png"></dt>
					</dl>
				</div>
			</div>
		</div>
		<div class="fenge"></div>
		<div class="iPhone" ng-controller="xiangnaier" ng-cloak="">
			<div class="iphone_big_img" data-lei="xiangnaier">
				<img src="{{ data.bigurl.url }}">
			</div>
			<div class="iphone_list swiper-container" id="iphone_list">
				<div class="swiper-wrapper">
					<dl class="swiper-slide" ng-repeat="item in data.list">
						<dt><img src="{{ item.url }}"></dt>
						<dd>
							<p>{{item.name}}</p>
							<p>{{item.price}}</p>
						</dd>
					</dl>
					<dl  class="swiper-slide geng" data-lei="xiangnaier">
						<dt><img src="../img/home_list_album_item_more.png"></dt>
					</dl>
				</div>
			</div>
		</div>
		<div class="fenge"></div>
		<div class="iPhone" ng-controller="zhekou" ng-cloak="">
			<div class="iphone_big_img" data-lei="zhekou">
				<img src="{{ data.bigurl.url }}">
			</div>
			<div class="iphone_list swiper-container" id="iphone_list">
				<div class="swiper-wrapper">
					<dl class="swiper-slide" ng-repeat="item in data.list">
						<dt><img src="{{ item.url }}"></dt>
						<dd>
							<p>{{item.name}}</p>
							<p>{{item.price}}</p>
						</dd>
					</dl>
					<dl  class="swiper-slide geng" data-lei="zhekou">
						<dt><img src="../img/home_list_album_item_more.png"></dt>
					</dl>
				</div>
			</div>
		</div>
		<div class="fenge"></div>
		<div class="iPhone" ng-controller="shishang" ng-cloak="">
			<div class="iphone_big_img" data-lei="shishang">
				<img src="{{ data.bigurl.url }}">
			</div>
			<div class="iphone_list swiper-container" id="iphone_list">
				<div class="swiper-wrapper">
					<dl class="swiper-slide" ng-repeat="item in data.list">
						<dt><img src="{{ item.url }}"></dt>
						<dd>
							<p>{{item.name}}</p>
							<p>{{item.price}}</p>
						</dd>
					</dl>
					<dl  class="swiper-slide geng" data-lei="shishang">
						<dt><img src="../img/home_list_album_item_more.png"></dt>
					</dl>
				</div>
			</div>
		</div>
		<div class="fenge"></div>
		<div class="iPhone" ng-controller="doukou" ng-cloak="">
			<div class="iphone_big_img"  data-lei="doukou">
				<img src="{{ data.bigurl.url }}">
			</div>
			<div class="iphone_list swiper-container" id="iphone_list">
				<div class="swiper-wrapper">
					<dl class="swiper-slide" ng-repeat="item in data.list">
						<dt><img src="{{ item.url }}"></dt>
						<dd>
							<p>{{item.name}}</p>
							<p>{{item.price}}</p>
						</dd>
					</dl>
					<dl  class="swiper-slide geng" data-lei="doukou">
						<dt><img src="../img/home_list_album_item_more.png"></dt>
					</dl>
				</div>
			</div>
		</div>
		<div class="fenge"></div>
		<div class="iPhone" ng-controller="usa" ng-cloak="">
			<div class="iphone_big_img"  data-lei="usa">
				<img src="{{ data.bigurl.url }}">
			</div>
			<div class="iphone_list swiper-container" id="iphone_list">
				<div class="swiper-wrapper">
					<dl class="swiper-slide" ng-repeat="item in data.list">
						<dt><img src="{{ item.url }}"></dt>
						<dd>
							<p>{{item.name}}</p>
							<p>{{item.price}}</p>
						</dd>
					</dl>
					<dl  class="swiper-slide geng" data-lei="usa">
						<dt><img src="../img/home_list_album_item_more.png"></dt>
					</dl>
				</div>
			</div>
		</div>
		<div class="fenge"></div>
		<div class="iPhone" ng-controller="tory" ng-cloak="">
			<div class="iphone_big_img"  data-lei="tory">
				<img src="{{ data.bigurl.url }}">
			</div>
			<div class="iphone_list swiper-container" id="iphone_list">
				<div class="swiper-wrapper">
					<dl class="swiper-slide" ng-repeat="item in data.list">
						<dt><img src="{{ item.url }}"></dt>
						<dd>
							<p>{{item.name}}</p>
							<p>{{item.price}}</p>
						</dd>
					</dl>
					<dl  class="swiper-slide geng" data-lei="tory">
						<dt><img src="../img/home_list_album_item_more.png"></dt>
					</dl>
				</div>
			</div>
		</div>
		<div class="fenge"></div>
		<div class="lianxi">
			<img src="../img/home_list_new_footer_image.png">
			<div class="lxding">
				<div id="list2">
					<p><img src="../img/home_list_footer_icon_weixin.png"></p>
					<h3>
						liangyi_hui<br>
						关注公众号有奖励
					</h3>
				</div>
				<div id="list">
					<p><img src="../img/home_list_footer_icon_tel.png"></p>
					<h3>
						4009-974-799<br>
						周一至周六9:30-19:30
					</h3>
				</div>
			</div>
		</div>
	</div>
	</main>
	<footer class="footer">
		<a href="chome.html">
			<dl>
				<dt><img src="../img/tab_home_checked.png"></dt>
				<dd>首页</dd>
			</dl>
		</a>
		<a href="qwb.html">
			<dl>
				<dt><img src="../img/tab_mall_normal.png"></dt>
				<dd>闲置</dd>
			</dl>
		</a>
		<a href="wysm.html">
			<dl>
				<dt><img src="../img/tab_sell_normal.png"></dt>
				<dd>我要售卖</dd>
			</dl>
		</a>
		<a href="zqshopping.html">
			<dl>
				<dt><img src="../img/tab_cart_normal.png"></dt>
				<dd>购物袋</dd>
			</dl>
		</a>
		<a href="login.html">
			<dl>
				<dt><img src="../img/tab_selfinfo_normal.png"></dt>
				<dd>个人中心</dd>
			</dl>
		</a>
	</footer>
</div>
	<script src="../js/jquery-1.8.3.js"></script>
	<script src="../js/dis.js"></script>
	<script src="../js/swiper-3.3.1.min.js"></script>
	<script src="../js/setfontsize.js"></script>
	<script src="../js/iscroll-probe.js"></script>
	<script src="../js/angular.min.js"></script>
	<script src="../js/zepto.min.js"></script>
	<script src="../js/chome.js"></script>
	<script>
		$("#list").on("tap",function(){
			var that=$(this);
			$.dialog({
				txt:"400-997-4799",
				btn:["取消","呼叫"],
			})
		})
	</script>
</body>
</html>